$color-primario: #8D8CC1;
$color-secundario: #943F77;
$color-fondo: #EFEDFF;

$color-crema: #FFD972;
$color-hover: #EEEDED;

$fondo-terciario: #EFEDFF;
$fondo-resaltado: #9FC7AA;
$color-texto: #000;
$borde: 2px solid #000;
$sombra: 0 0 10px rgba(10, 10, 10, 0.5);
$tamaño-texto: 16px;
$fuente: "Poppins, sans-serif";

