$font-poppins: "Poppins", sans-serif;
$font-roboto: "Roboto", sans-serif;
$font-serif: "Sherif", serif;
$font-pompiere: "Pompiere", cursive;
$font-rochester: "Rochester", cursive;

$weight-normal: normal;
$weight-bold: bold;
$weight-light: lighter;