@media (max-width: 768px) {
    .primeraSeccion {
        flex-direction: column;
        height: auto;
    }

    .primeraSeccion img {
        width: 100%;
        height: auto;
    }
}
@media (max-width: 768px) {
    .Productos-Inicio {
        flex-direction: column;
        height: auto;
        justify-content: flex-start; 
    }

    .producto-imagen img {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .boton-NuestrosProductos {
        width: 80%;
        margin: 0 auto 20px;
    }
}
@media (max-width: 768px) {
    .coco-fondo img {
        height: auto; 
    }
    .texto-sobre-imagen {
        font-size: 1.5em; 
    }
    .boton-Conocenos {
        font-size: 1.5em; 
    }
}
@media (max-width: 768px) {
    .boton-Contáctanos {
        width: 80%; 
        font-size: 5vw; 
    }
}
@media (max-width: 768px) {
    .Crema {
        width: calc(50% - 20px); 
        margin-right: 20px; 
    }

    .Crema button {
        font-size: 14px;  
    }
}

@media (max-width: 768px) {
    .descubre-nosotros {
        font-size: 25px; 
    }
}

@media (min-width: 768px) {
    .Crema {
        width: calc(33.33% - 30px); 
        max-width: 350px; 
        height: 400px; 
        margin-bottom: 2rem; 
        margin-right: 2rem; 
    }

    .Crema button {
        margin-left: 50%; 
        transform: translateX(-50%); 
        font-size: 1rem; 
        padding: 0.5rem 1rem; 
    }
}







