.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #8D8CC1;
    padding: .625rem; 
    
    .logo {
        max-width: 3.125rem;

        img {
            height: auto;
            width: 6.25rem;
        }
    }

    .nav {
        ul {
            display: flex;
            list-style: none;
            padding: 20px 30px;

            li {
                padding: 10px 10px;

                a {
                    color: #fff;
                    font-family: "Roboto";
                    font-size: 30px;
                    text-decoration: none;
                    transition: background-color 0.3s, transform 0.3s, font-size 0.3s;
                }
                 &:hover {
                    transform: scale(1.1); 
                    font-size: 2rem; 
                }
            }
        }
    }
}