.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #8D8CC1;
    padding: 10px; 
    
    .logo {
        max-width: 50px;

        img {
            height: auto;
            width: 80px;
        }
    }

    .nav {
        ul {
            display: flex;
            list-style: none;
            padding: 20px 30px;

            li {
                padding: 10px 10px;

                a {
                    color: #fff;
                    font-family: "Roboto";
                    font-size: 30px;
                    text-decoration: none;
                }
            }
        }
    }
}