.portada-nosotros img {
  width: 100%;
  height: 250px;
  position: relative;
  object-fit: cover;
}

.quienes-somos {
  background-color: #EFEDFF;
  padding: 3.125rem;
  height: 1550px;
}

.pregunta {
  background-color: #9FC7AA;
  border: .3125rem solid #A1A1A1;
  width: 400px;
  height: 100px;
  box-shadow: 0 0 10px rgba(10, 10, 10, 0.5); 
  
  h1 {
    text-align: center;
    font-family: "Rochester";
    font-weight: normal; 
    font-size: 3.75rem;
    margin: 1.25rem;
  }
}

.texto-quienes-somos {
  display: flex;
  justify-content: space-between;
  font-family: "Poppins";
  font-size: 2.5rem;
  text-align: left;
  padding-top: 3.125rem;
  
  img {
    margin-top: -15.625rem;
    margin-left: 0rem;
    width: 31.25rem;
    object-fit: cover;
  }
}

.que-hacemos {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #EFEDFF;
  padding: 3.125rem;
}

.texto-que-hacemos {
  display: flex;
  justify-content: space-between;
  
  p {
    display: flex;
    justify-content: space-between;
    font-family: "Poppins";
    font-size: 2.5rem;
    text-align: right;
    padding-top: 3.125rem;
  }
  
  img {
    margin-top: -9.375rem;
    width: 1000px;

  }
}

.conteiner-nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.875rem;
}

.descubre-nosotros {
  background: linear-gradient(to right, #637D6A, #8AAC93, #9FC7AA);
  color: #000;
  border-radius: .9375rem;
  width: 1000px;
  height: 250px;
  font-family: "Roboto";
  font-size: 2.1875rem;
  text-align: center;
  padding: .9375rem;
  
  .boton-descubre {
    font-family: "Roboto";
    font-weight: bold;
    padding: -0.9375rem;
    margin-top: -0.9375rem;
    font-size: 2.8125rem;
    background-color: #698671;
    color: white;
    border: 3px solid black;
    border-radius: 1.875rem;
    cursor: pointer;
    width: 21.875rem;
    font-weight: 37.5rem;
    
    &:hover {
      background-color:#9EB0A2;
    }
  }
}
