.portada-productos img{
    width: 100%;
    height: 250px;
    position: relative;
    object-fit: cover;
}

.productos{
    width: 100%;
    height: 80px;
    border: .1875rem solid #ccc; 
    border-radius: 0rem; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   
}
.productos p{
    font-size: 3.125rem;
    text-align: center;
    font-family: "Rochester";
    padding: .625rem;
    margin: .3125rem;
    
}
.Catalogo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #EFEDFF;
    padding: 3.125rem;
}
 