.portada-propiedades img{
    width: 100%;
    height: 250px;
    position: relative;
    object-fit: cover;
}
.conteiner-propiedades{
    background-color:#EFEDFF;
    padding: 6.25rem;
    
    
}
.propiedades {
    background-color: #8D8CC1;
    padding: 6.25rem;
    border: 1.25rem solid white; 
}
.introduccion{
    background-color: #EFEDFF;
    font-family: "Poppins";
    font-size: 1.5625rem;
    font-weight: normal;
    padding: .3125rem;
    text-align: center;
    margin: 1.25rem;
}
.sabias-que-texto {
    background-color: #D7D2FF;
    padding: .3125rem;
    margin: 1.25rem;
}

.sabias-que {
    padding: .9375rem;
    margin: .625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
     h5 {
        font-family: "roboto sherif";
        font-weight: bold;
        font-size: 2.5rem;
        text-align: center;
        margin: .5rem;
    }
    p {
        font-family: "Poppins";
        font-size: 1.25rem;
        text-align: center;
    }
}
.img-lavanda{
    position: relative;
    margin-top: 3.125rem;
    width: 1000px; 
    height: 300px; 
    transform: rotate(15deg);
    border-radius: .3125rem; 
    background-color: white;
     img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 1.25rem solid white; 
        box-shadow: 0 10px 20px rgba(255, 253, 253, 0.3); 
        transform: rotate(15deg); /* Contrarrestar la inclinación para que la imagen parezca recta */
    }  
} 


.Aguademar{
    padding: .625rem;
    margin: .625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img-aguademar {
    position: relative;
    margin-top: 3.125rem;
    width: 1000px; 
    height: 300px; 
    transform: rotate(-20deg);
    border-radius: .3125rem; 
    background-color: white;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 1.25rem solid white; 
        box-shadow: 0 10px 20px rgba(255, 253, 253, 0.3); 
        transform: rotate(5deg);
        margin: .625rem;
    }
}
.texto-agua {
    background-color: #D7D2FF;
    padding: 1.875rem;
     h3 {
        font-family: "roboto sherif";
        font-size: 2.5rem;
        text-align: center;
        margin: -0.625rem;
    }
     p {
        font-family: "Poppins";
        font-size: 1.25rem;
        text-align: center;
    }
}
.aceitejojoba {
    padding: .625rem;
    margin: .625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.texto-jojoba {
    background-color: #D7D2FF;
    padding: 3.125rem;
    margin: 1.25rem;
}
.texto-jojoba h2 {
    font-family: "roboto sherif";
    font-size: 2.5rem;
    text-align: center;
    margin: -0.625rem;
}
.texto-jojoba p {
    font-family: "Poppins";
    font-size: 1.25rem;
    text-align: center;
}
.imgJojoba{
    position: relative;
    margin-top: 3.125rem;
    width: 1000px; 
    height: 350px;     
}
    
.imgJojoba img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1.25rem solid white; 
    box-shadow: 0 10px 20px rgba(255, 253, 253, 0.3); 
}
